{% extends "layout.html" %}

{% block content %}

<h2>Get the source</h2>
You can clone the repository with git by invoking the following command
<p class='code'>git clone https://github.com/IfcOpenShell/IfcOpenShell.git</p><br>
Alternatively you can download an archive of the source files from:<br>
<p class='code'>
v0.4.0: <a href='https://github.com/IfcOpenShell/IfcOpenShell/archive/v0.4.0.zip'>https://github.com/IfcOpenShell/IfcOpenShell/archive/v0.4.0.zip</a><br>
v0.5.0: <a href='https://github.com/IfcOpenShell/IfcOpenShell/archive/master.zip'>https://github.com/IfcOpenShell/IfcOpenShell/archive/master.zip</a><br>
v0.6.0: <a href='https://github.com/IfcOpenShell/IfcOpenShell/archive/v0.6.0.zip'>https://github.com/IfcOpenShell/IfcOpenShell/archive/v0.6.0.zip</a>
</p><br>

{% endblock %}