{% extends "layout.html" %}

{% block content %}
<h2>IfcConvert: An application for converting ifc geometry into several file formats</h2>
<h3>Installation instructions for Windows, Linux and Mac OSX</h3>

<ul>
<li>Determine if your operating system is 32bit or 64bit</li>
<li>Download and unzip the appropriate version of IfcConvert

<li style='list-style-type:none'>0.6.0 latest</li>
<ul>
<li style='list-style-type:none'><b>Windows</b></li>
{% for t in builds_v06['Windows'] %}
<li><a href="{{t[0]}}">{{t[1]}}</a></li>
{% endfor %}
<li style='list-style-type:none'><b>Mac OSX</b></li>
{% for t in builds_v06['OSX'] %}
<li><a href="{{t[0]}}">{{t[1]}}</a></li>
{% endfor %}
<li style='list-style-type:none'><b>Linux</b></li>
{% for t in builds_v06['Linux'] %}
<li><a href="{{t[0]}}">{{t[1]}}</a></li>
{% endfor %}
</ul></li>

<li style='list-style-type:none'>0.5.0 latest</li>
<ul>
<li style='list-style-type:none'><b>Windows</b></li>
{% for t in builds_master['Windows'] %}
<li><a href="{{t[0]}}">{{t[1]}}</a></li>
{% endfor %}
<li style='list-style-type:none'><b>Mac OSX</b></li>
{% for t in builds_master['OSX'] %}
<li><a href="{{t[0]}}">{{t[1]}}</a></li>
{% endfor %}
<li style='list-style-type:none'><b>Linux</b></li>
{% for t in builds_master['Linux'] %}
<li><a href="{{t[0]}}">{{t[1]}}</a></li>
{% endfor %}
</ul></li>

<li style='list-style-type:none'>0.5.0 preview 2</li>
<li style='list-style-type:none'><ul>
<li style='list-style-type:none'><b>Windows</b></li>
<li><a href="https://github.com/IfcOpenShell/IfcOpenShell/releases/download/v0.5.0-preview2/IfcConvert-master-9ad68db-win32.zip" target="_blank">IfcConvert 32bit Windows</a></li>
<li><a href="https://github.com/IfcOpenShell/IfcOpenShell/releases/download/v0.5.0-preview2/IfcConvert-master-9ad68db-win64.zip" target="_blank">IfcConvert 64bit Windows</a></li>
<li style='list-style-type:none'><b>Mac OSX</b> <span style='font-size:80%'>(built using the 10.6 SDK)</span></li>
<li><a href="https://github.com/IfcOpenShell/IfcOpenShell/releases/download/v0.5.0-preview2/IfcConvert-master-40f3447-osx64.zip" target="_blank">IfcConvert 64bit OSX</a></li>
<li style='list-style-type:none'><b>Linux</b> <span style='font-size:80%'>(suits most recent distributions)</span></li>
<li><a href="https://github.com/IfcOpenShell/IfcOpenShell/releases/download/v0.5.0-preview2/IfcConvert-master-9ad68db-linux32.zip" target="_blank">IfcConvert 32bit Linux</a></li>
<li><a href="https://github.com/IfcOpenShell/IfcOpenShell/releases/download/v0.5.0-preview2/IfcConvert-master-9ad68db-linux64.zip" target="_blank">IfcConvert 64bit Linux</a></li>
</ul></li>

<li style='list-style-type:none'>0.4.0</li>
<li style='list-style-type:none'><ul>
<li style='list-style-type:none'><b>Windows</b></li>
<li><a href="http://sourceforge.net/projects/ifcopenshell/files/0.4.0-rc2/IfcConvert-0.4.0-rc2-win32.zip/download" target="_blank">IfcConvert 32bit Windows</a></li>
<li><a href="http://sourceforge.net/projects/ifcopenshell/files/0.4.0-rc2/IfcConvert-0.4.0-rc2-win64.zip/download" target="_blank">IfcConvert 64bit Windows</a></li>
<li style='list-style-type:none'><b>Mac OSX</b> <span style='font-size:80%'>(built using the 10.6 SDK)</span></li>
<li><a href="http://sourceforge.net/projects/ifcopenshell/files/0.4.0-rc2/IfcConvert-0.4.0-rc2-osx32.zip/download" target="_blank">IfcConvert 32bit OSX</a></li>
<li><a href="http://sourceforge.net/projects/ifcopenshell/files/0.4.0-rc2/IfcConvert-0.4.0-rc2-osx64.zip/download" target="_blank">IfcConvert 64bit OSX</a></li>
<li style='list-style-type:none'><b>Linux</b> <span style='font-size:80%'>(suits most recent distributions)</span></li>
<li><a href="http://sourceforge.net/projects/ifcopenshell/files/0.4.0-rc2/IfcConvert-0.4.0-rc2-linux32.zip/download" target="_blank">IfcConvert 32bit Linux</a></li>
<li><a href="http://sourceforge.net/projects/ifcopenshell/files/0.4.0-rc2/IfcConvert-0.4.0-rc2-linux64.zip/download" target="_blank">IfcConvert 64bit Linux</a></li>
</ul></li>

</ul>
<h3>Installation on other platforms</h3>
<ul>
<li>Download and compile the sources of <a href="http://www.opencascade.org/getocc/download/loadocc/">Open CASCADE</a>, or use your package manager to install the libraries<br>
You can also use the <a href="https://github.com/tpaviot/oce">Open CASCADE Community Edition</a>, it provides a CMake file for easy configuration</li>
<li>Download and compile the sources of <a href="code.html">IfcOpenShell</a></li>
</ul>
<h3>Usage</h3>
<ul>
<li>You can invoke IfcConvert from the command line or drag an .ifc file over the IfcConvert executable to convert it</li>
</ul>
<pre>
IfcOpenShell IfcConvert 0.5.0-dev
Usage: IfcConvert [options] &lt;input.ifc&gt; [&lt;output&gt;]

Converts the geometry in an IFC file into one of the following formats:
  .obj   WaveFront OBJ  (a .mtl file is also created)
  .dae   Collada        Digital Asset Exchange
  .stp   STEP           Standard for the Exchange of Product Data
  .igs   IGES           Initial Graphics Exchange Specification
  .xml   XML            Property definitions and decomposition tree
  .svg   SVG            Scalable Vector Graphics (2d floor plan)

Command line options
  --help                display usage information
  --version             display version information
  -v [ --verbose ]      more verbose output

Advanced options
  --plan                          Specifies whether to include curves in the 
                                  output result. Typically these are 
                                  representations of type Plan or Axis. 
                                  Excluded by default.
  --model                         Specifies whether to include surfaces and 
                                  solids in the output result. Typically these
                                  are representations of type Body or 
                                  Facetation. Included by default.
  --weld-vertices                 Specifies whether vertices are welded, 
                                  meaning that the coordinates vector will only
                                  contain unique xyz-triplets. This results in 
                                  a manifold mesh which is useful for modelling
                                  applications, but might result in unwanted 
                                  shading artefacts in rendering applications.
  --use-world-coords              Specifies whether to apply the local 
                                  placements of building elements directly to 
                                  the coordinates of the representation mesh 
                                  rather than to represent the local placement 
                                  in the 4x3 matrix, which will in that case be
                                  the identity matrix.
  --convert-back-units            Specifies whether to convert back geometrical
                                  output back to the unit of measure in which 
                                  it is defined in the IFC file. Default is to 
                                  use meters.
  --sew-shells                    Specifies whether to sew the faces of 
                                  IfcConnectedFaceSets together. This is a 
                                  potentially time consuming operation, but 
                                  guarantees a consistent orientation of 
                                  surface normals, even if the faces are not 
                                  properly oriented in the IFC file.
  --merge-boolean-operands        Specifies whether to merge all 
                                  IfcOpeningElement operands into a single 
                                  operand before applying the subtraction 
                                  operation. This may introduce a performance 
                                  improvement at the risk of failing, in which 
                                  case the subtraction is applied one-by-one.
  --disable-opening-subtractions  Specifies whether to disable the boolean 
                                  subtraction of IfcOpeningElement 
                                  Representations from their RelatingElements.
  --bounds arg                    Specifies the bounding rectangle, for example
                                  512x512, to which the output will be scaled. 
                                  Only used when converting to SVG.
  --include                       Specifies that the entities listed after 
                                  --entities are to be included
  --exclude                       Specifies that the entities listed after 
                                  --entities are to be excluded
  --entities arg                  A list of entities that should be included in
                                  or excluded from the geometrical output, 
                                  depending on whether --ignore or --include is
                                  specified. Defaults to IfcOpeningElement and 
                                  IfcSpace to be excluded.
</pre>

{% endblock %}