{% extends "layout.html" %}

{% block content %}
<h2>IfcMax: An ifc importer for Autodesk 3ds Max</h2>

<h3>Installation</h3>
<ul>
<li>Determine if your copy of 3ds Max is 32bit or 64bit</li>
<li>Download and unzip the appropriate version of IfcMax, move the unzipped file <i>IfcMax.dli</i> to your plugins folder, for example: <i>C:\Program&nbsp;Files\Autodesk\3ds&nbsp;Max&nbsp;2010\plugins</i></li>
<li style='list-style-type:none'><b>0.4.0</b>: the latest stable release</li>
<li style='list-style-type:none'><ul>
<li><a href="http://sourceforge.net/projects/ifcopenshell/files/0.4.0-rc2/IfcMax-0.4.0-rc2-win32-3dsMax2010.zip/download" target="_blank">IfcMax for 3ds Max 2010 32bit</a></li>
<li><a href="http://sourceforge.net/projects/ifcopenshell/files/0.4.0-rc2/IfcMax-0.4.0-rc2-win64-3dsMax2010.zip/download" target="_blank">IfcMax for 3ds Max 2010 64bit</a></li>
<li><a href="http://sourceforge.net/projects/ifcopenshell/files/0.4.0-rc2/IfcMax-0.4.0-rc2-win32-3dsMax2011.zip/download" target="_blank">IfcMax for 3ds Max 2011 32bit</a></li>
<li><a href="http://sourceforge.net/projects/ifcopenshell/files/0.4.0-rc2/IfcMax-0.4.0-rc2-win64-3dsMax2011.zip/download" target="_blank">IfcMax for 3ds Max 2011 64bit</a></li>
<li><a href="http://sourceforge.net/projects/ifcopenshell/files/0.4.0-rc2/IfcMax-0.4.0-rc2-win32-3dsMax2012.zip/download" target="_blank">IfcMax for 3ds Max 2012 32bit</a></li>
<li><a href="http://sourceforge.net/projects/ifcopenshell/files/0.4.0-rc2/IfcMax-0.4.0-rc2-win64-3dsMax2012.zip/download" target="_blank">IfcMax for 3ds Max 2012 64bit</a></li>
<li><a href="http://sourceforge.net/projects/ifcopenshell/files/0.4.0-rc2/IfcMax-0.4.0-rc2-win32-3dsMax2013.zip/download" target="_blank">IfcMax for 3ds Max 2013 32bit</a></li>
<li><a href="http://sourceforge.net/projects/ifcopenshell/files/0.4.0-rc2/IfcMax-0.4.0-rc2-win64-3dsMax2013.zip/download" target="_blank">IfcMax for 3ds Max 2013 64bit</a></li>
<li><a href="http://sourceforge.net/projects/ifcopenshell/files/0.4.0-rc2/IfcMax-0.4.0-rc2-win64-3dsMax2014.zip/download" target="_blank">IfcMax for 3ds Max 2014 64bit</a></li>
<li><a href="http://sourceforge.net/projects/ifcopenshell/files/0.4.0-rc2/IfcMax-0.4.0-rc2-win64-3dsMax2015.zip/download" target="_blank">IfcMax for 3ds Max 2015 64bit</a></li>
</ul></li>
<li style='list-style-type:none'><b>0.5.0</b>: a preview release with additional functionality</li>
<li style='list-style-type:none'><ul>
<li><a href="http://sourceforge.net/projects/ifcopenshell/files/0.5.0-preview1/IfcMax-0.5.0-preview1-win32-3dsMax2010.zip/download" target="_blank">IfcMax for 3ds Max 2010 32bit</a></li>
<li><a href="http://sourceforge.net/projects/ifcopenshell/files/0.5.0-preview1/IfcMax-0.5.0-preview1-win64-3dsMax2010.zip/download" target="_blank">IfcMax for 3ds Max 2010 64bit</a></li>
<li><a href="http://sourceforge.net/projects/ifcopenshell/files/0.5.0-preview1/IfcMax-0.5.0-preview1-win32-3dsMax2011.zip/download" target="_blank">IfcMax for 3ds Max 2011 32bit</a></li>
<li><a href="http://sourceforge.net/projects/ifcopenshell/files/0.5.0-preview1/IfcMax-0.5.0-preview1-win64-3dsMax2011.zip/download" target="_blank">IfcMax for 3ds Max 2011 64bit</a></li>
<li><a href="http://sourceforge.net/projects/ifcopenshell/files/0.5.0-preview1/IfcMax-0.5.0-preview1-win32-3dsMax2012.zip/download" target="_blank">IfcMax for 3ds Max 2012 32bit</a></li>
<li><a href="http://sourceforge.net/projects/ifcopenshell/files/0.5.0-preview1/IfcMax-0.5.0-preview1-win64-3dsMax2012.zip/download" target="_blank">IfcMax for 3ds Max 2012 64bit</a></li>
<li><a href="http://sourceforge.net/projects/ifcopenshell/files/0.5.0-preview1/IfcMax-0.5.0-preview1-win32-3dsMax2013.zip/download" target="_blank">IfcMax for 3ds Max 2013 32bit</a></li>
<li><a href="http://sourceforge.net/projects/ifcopenshell/files/0.5.0-preview1/IfcMax-0.5.0-preview1-win64-3dsMax2013.zip/download" target="_blank">IfcMax for 3ds Max 2013 64bit</a></li>
<li><a href="http://sourceforge.net/projects/ifcopenshell/files/0.5.0-preview1/IfcMax-0.5.0-preview1-win64-3dsMax2014.zip/download" target="_blank">IfcMax for 3ds Max 2014 64bit</a></li>
<li><a href="http://sourceforge.net/projects/ifcopenshell/files/0.5.0-preview1/IfcMax-0.5.0-preview1-win64-3dsMax2015.zip/download" target="_blank">IfcMax for 3ds Max 2015 64bit</a></li>
</ul></li>
</ul>
<h3>Usage</h3>
<ul>
<li>You can now import .ifc files by choosing the Import button from the Application menu</li>
</ul>

<div class='screenshots'>
<img src="static/3dsmax-munkerud.jpg" alt="Screenshot of 3ds Max running the plug-in" />
</div>

{% endblock %}