<!doctype html>
<html lang="en">

{% block head %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?Open+Sans:wght@300;500&family=Roboto+Mono:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/main.css">
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <title>IfcOpenShell</title>
</head>
{% endblock %}

<body>
    <nav>
        <div class="logo">
            <img src="/static/ifcopenshell_logo.png" alt="ifcopenshell logo">
        </div>   
        <div class="menu">        
            <a {% if request.path == url_for('home') %} class="selected" {% endif %} href="{{url_for('home')}}">home</a>
            <a target="_blank" href="https://ifcopenshell.github.io/docs/">docs</a>
            <a target="_blank" href="https://github.com/IfcOpenShell/IfcOpenShell">code</a>
            <input type="checkbox" id="menu" {% if request.path in (url_for('convert'), url_for('python'), url_for('bimserver'), url_for('max'), url_for('blender')) %} checked {% endif %}>
            <label for="menu">products</label>
            <a target="_blank" href="http://blog.ifcopenshell.org/">blog</a>
            <a target="_blank" href="https://sourceforge.net/p/ifcopenshell/discussion/">forums</a>
            <div class="break"></div>
            <div class="submenu">
                <a target="_blank" href="https://blenderbim.org/">BlenderBIM</a>
                <a {% if request.path == url_for('convert') %} class="selected" {% endif %} href="{{url_for('convert')}}">IfcConvert</a>
                <a {% if request.path == url_for('python') %} class="selected" {% endif %} href="{{url_for('python')}}">IfcOpenShell-python</a>
                <a {% if request.path == url_for('bimserver') %} class="selected" {% endif %} href="{{url_for('bimserver')}}">BIMserver plug-in</a>    
                <a {% if request.path == url_for('max') %} class="selected" {% endif %} href="{{url_for('max')}}" style="color:#aaa">IfcMax</a>
                <a {% if request.path == url_for('blender') %} class="selected" {% endif %} href="{{url_for('blender')}}" style="color:#aaa">IfcBlender</a>
            </div>
        </div>
    </nav>

{% if False %}
<div id='alerts'>
<div class='alert'>
<div class='date'><span>March 21, 2017:</span></div>
<div>
<span><b>IfcOpenShell 0.5.0 preview 2</b> has just been released!<br>Visit <a href='http://blog.ifcopenshell.org'>http://blog.ifcopenshell.org</a> for a changelog and stay updated on the development of IfcOpenShell.</span>
</div>
<br style='clear:both'>
</div>
<div class='alert'>
<div class='date'>August 23, 2011:</div>
<div>
<b>IfcOpenShell</b> needs your help! Find out what you can do to help improve the open source IFC toolkit, visit <a href='http://blog.ifcopenshell.org/2011/08/ifcopenshell-needs-your-help.html'>http://blog.ifcopenshell.org/2011/08/ifcopenshell-needs-your-help.html</a>.
</div>
<br style='clear:both'>
</div>

<div class='alert'>
<div class='date'><span>August 12, 2020:</span></div>
<div>
<span>Want to view building models on the web? Have a look at
<a href='https://github.com/AECgeeks/ifc-pipeline'>IFC pipeline</a>. An open source self-hosted IFC processing and visualization pipeline.
Available to try at <a href='https://view.ifcopenshell.org'>view.ifcopenshell.org</a>
</div>
<br style='clear:both'>
</div>
{% endif %}

</div>
<div id='content'>

{% block content %}

{% endblock %}

    <a href='https://twitter.com/aothms' id='twitter'>
        <span>
        <img src='/static/twitter.svg'>
        </span><br>
        follow the<br>development<br>on twitter
    </a>
</body>
</html>