{% include "header.html" %}
        <!--=== Start Banner Section ===-->
        <section class="bg-color-fff1f2">
            <div class="container community-header">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="banner-section">
                            <div class="side-border side-border-inner wow fadeInUp delay-0-4s"></div>
                            <div class="banner-content">
                                <h1 class="wow fadeInUp delay-0-2s"> Community </h1>
                                <h2 class="up-title wow fadeInUp delay-0-4s"> Built by you, free for the world </h2>
                            </div>
                        </div>
                        
                        <p class="industry"> 
                            You can help change the industry. Make high quality, international standards BIM available for all. Every bug you report, every question you ask, tutorial you make, content you translate, social media post you share, or even just by telling us what you enjoy helps make a difference.
                        </p>

                        <p> Join the Open Source Architecture community today. </p><br>

                        <div class="banner-content community-butn-section">
                            <div class="banner-btn">
                                <a href="https://github.com/ifcopenshell/ifcopenshell/issues" class="main-btn wow fadeInUp delay-0-8s ">
                                    <span class="btn-style">
                                        <i class="icofont-md icofont-bug"></i> Report a bug
                                    </span>
                                </a>
                                <a href="https://community.osarch.org/" class="main-btn wow fadeInUp delay-0-8s">
                                    <span class="btn-style">
                                        <i class="icofont-md icofont-question-square"></i>  Ask a question
                                    </span>
                                </a>
                                <a href="https://osarch.org/chat/" class="main-btn wow fadeInUp delay-0-8s">
                                    <span class="btn-style">
                                        <i class="icofont-md icofont-chat"></i>   Chat live
                                    </span>
                                </a>
                            </div>
                        </div>
                        <!-- .banner-content -->

                        <p>
                            Our software is built by everyone*. You can even edit this website. Whether or not you're an experienced programmer or just playing around, we can teach you how to get started with development.
                        </p>
                        <p>
                            If you don't have time for code, please help donate so we can crowdfund of developers.
                        </p><br>


                        <div class="banner-content community-butn-section">
                            <div class="banner-btn">
                                <a href="https://opencollective.com/opensourcebim/" class="main-btn wow fadeInUp delay-0-8s">
                                    <span class="btn-style">
                                        <i class="icofont-md icofont-money"></i> Donate Now
                                    </span>
                                </a>
                                <a href="https://github.com/ifcopenshell/ifcopenshell" class="main-btn wow fadeInUp delay-0-8s">
                                    <span class="btn-style">
                                        <i class="icofont-md icofont-code-alt"></i> Write code
                                    </span>
                                </a>
                            </div>

                            
                        </div>

                        <p>
                            The Blender BIM Add-on is made possible by the work of the buildingSMART community and the Blender community. buildingSMART has worked for over 20 years to develop IFC, BCF, bsDD, and IDS, technologies that allow computers to understand the data and relationships in our built environment, Blender has helped bring the freedom to create 3D graphics for almost 30 years to the world.
                        </p>
                        <p class="paragraph"> 
                            Like the giants we stand upon, we believe that our digital environment, like the built environment, is a public good and everyone should have the right to investigate it, and tweak it, and own it. 
                        </p>
                        <ul class="choose-list">
                            <li>
                                <a href="https://forums.buildingsmart.org/">
                                    BuildingSMART Forums
                                </a>
                            </li>
                            <li>
                                <a href="https://blenderartists.org/">
                                    Blender Artists Forums
                                </a>
                            </li>
                        </ul>
                        <p>*well, currently about 130 people but still</p>

                    </div>
                    <!-- .col-ms-9 -->


                    <div class="col-lg-3 sidebar-section">
                        <h3 class=""> Latest code update </h3>
                        <ul id="commits" class="latest-code"></ul>
                        <a href="https://blenderbim.org/" class="view-more"> View more </a>
                        <h3 class="">Tweet twoot</h3>
                        <a class="twitter-timeline" data-lang="en" data-dnt="true" data-tweet-limit="2" href="https://twitter.com/BlenderBIM?ref_src=twsrc%5Etfw">Tweets by BlenderBIM</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    <h3 class="">Videos</h3>
                        <div class="embed">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/g_qpzGtK10g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
            </div>
        </section>
        <!--=== End Banner Section ===-->
{% include "footer.html" %}
