{% include "header.html" %}
		<!--=== Start Banner Section ===-->
		<section class="banner-section bg-color-fff1f2">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="side-border side-border-inner wow fadeInUp delay-0-4s"></div>
						<div class="banner-content">
							<h1 class="wow fadeInUp delay-0-2s"> Downloads </h1>
							<h2 class="up-title wow fadeInUp delay-0-4s"> An ecosystem of libraries, tools, and apps </h2>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--=== End Banner Section ===-->

		<section class="bg-color-light product-section-1 product-section-1-light">
			<div class="container">
				<div class="desing-3 wow fadeInUp delay-0-8s"><img src="assets/images/downloads/logo-3.png" alt="Logo 3" /></div>
				<div class="row">
					<div class="col-sm-12 wow fadeInUp delay-0-4s"><h2> I want to write code </h2></div>
				</div>
				<div class="row">
					<div class="offset-lg-1 col-lg-5 wow fadeInUp delay-0-4s">
						<img src="assets/images/downloads/logo-1.png" alt="Logo 1" class="partner-logo-1" />
                        <img src="assets/images/download/section-layer-design.png" alt="section-layer-design" class="section-layer-design"  wow fadeInUp delay-0-4s />
						<h3> IfcOpenShell C++ </h3>
						<div class="inner-divider"></div>
						<p>
							IfcOpenShell C++ offers classes and functions to read, write, and modify all IFC schemas, serialisations, and geometry. Based on the OpenCASCADE geometry kernel, IfcOpenShell C++ offers multicore conversion of implicit IFC geometry into explicit polygons for use in CAD systems. Perform geometric analysis through BVH trees, voxels, and 2D drawing generation.
						</p>
						<div class="banner-btn ">
							<a href="https://docs.ifcopenshell.org/ifcopenshell/installation.html" class="main-btn wow fadeInUp delay-0-8s">
								<span class="btn-style">
									<img src="assets/images/banner/download-icon.png" /> Compile v0.7.0
								</span>
							</a>
						</div>
					</div>
					<div class="col-lg-5 wow fadeInUp delay-0-4s">
						<img src="assets/images/downloads/logo-2.png" alt="Logo 2" class="partner-logo-1" />
						<h3> IfcOpenShell Python </h3>
						<div class="inner-divider"></div>
						<p>
							The speed and features of IfcOpenShell C++ through Python. Comes with a utility module that reduces common model analysis tasks to one line of code.  Offers a high level API for native IFC authoring usecases across all disciplines, whether its adding objects, managing classifications and documents, connecting distribution ports, or critical path analysis.
						</p>
						<div class="banner-btn">
							<a href="https://docs.ifcopenshell.org/ifcopenshell-python/installation.html" class="main-btn wow fadeInUp delay-0-8s">
								<span class="btn-style">
									<img src="assets/images/banner/download-icon.png" /> Download v0.7.0
								</span>
							</a>
						</div>
					</div>
				</div>
				<div class="desing-4 wow fadeInUp delay-0-8s"><img src="assets/images/downloads/logo-4.png" alt="Logo 3" /></div>
			</div>
		</section>

		<section class="bg-color-fafafb product-section-2 ">
			<div class="container">
				<div class="row wow fadeInUp delay-0-4s">
					<div class="col-sm-12"><h2 class="top-layer"> I need an app for my workflow </h2></div>
				</div>
				<div class="row">
					<div class="offset-lg-1 col-lg-5 wow fadeInUp delay-0-4s">
						<img src="assets/images/downloads/logo-5.png" alt="Logo 5" class="partner-logo-5" />
						<h3> IfcConvert </h3>
						<div class="inner-divider"></div>
						<p class="para">
							Convert from IFC to OBJ, DAE, GLB/GLTF, STP, IGS, XML, SVG, and H5. Includes options for multithreaded support, element filtering, geometry validation, coordinates, and units.
						</p>
						<div class="banner-btn">
							<a href="https://docs.ifcopenshell.org/ifcconvert/installation.html" class="main-btn wow fadeInUp delay-0-8s ">
								<span class="btn-style">
									<img src="assets/images/banner/download-icon.png" /> Download v0.7.0
								</span>
							</a>
						</div>
					</div>
					<div class="col-lg-5 wow fadeInUp delay-0-4s">
						<img src="assets/images/downloads/logo-6.png" alt="Logo 6" class="partner-logo-6" />
						<h3> Bonsai </h3>
						<div class="inner-divider"></div>
						<p class="para">
							A rich, graphical native IFC authoring environment based on Blender. View and create models, drawings, and manage BIM data. Everything can be automated via a Python interface.
						</p>
						<div class="banner-btn">
							<a href="https://bonsaibim.org/" class="main-btn wow fadeInUp delay-0-8s">
								<span class="btn-style">
									<img src="assets/images/banner/download-icon.png" /> Get v0.0.240602
								</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>


		<section class="bg-color-fafafb product-section-2">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-sm-6  wow fadeInUp delay-0-4s">
						<img src="assets/images/downloads/icon1.png" alt="Icon" class="icon-logo" />
						<h3> IfcCSV </h3>
						<p>
							Extract data and edit IFC models using spreadsheets, CSVs, and Pandas Dataframes.
						</p>
					</div>
					<div class="col-lg-3 col-sm-6  wow fadeInUp delay-0-4s">
						<img src="assets/images/downloads/icon2.png" alt="Icon" class="icon-logo" />
						<h3> IfcTester </h3>
						<p>
							Use IDS to write and audit BIM information delivery specifications.
						</p>
					</div>
					<div class="col-lg-3 col-sm-6  wow fadeInUp delay-0-4s">
						<img src="assets/images/downloads/icon3.png" alt="Icon" class="icon-logo" />
						<h3> IfcClash </h3>
						<p>
							Check for model geometry collisions with support for element filters, clash grouping, and BCF results.
						</p>
					</div>
					<div class="col-lg-3 col-sm-6  wow fadeInUp delay-0-4s">
						<img src="assets/images/downloads/icon4.png" alt="Icon" class="icon-logo" />
						<h3> IfcDiff </h3>
						<p>
							Compare two models with support for checking differences in geometry, properties, and data relationships.
						</p>
					</div>
					<div class="col-lg-3 col-sm-6  wow fadeInUp delay-0-4s">
						<img src="assets/images/downloads/icon5.png" alt="Icon" class="icon-logo" />
						<h3> IfcSverchok </h3>
						<p>
							Visual node programming to generate and analyse models using Blender.
						</p>
					</div>
					<div class="col-lg-3 col-sm-6  wow fadeInUp delay-0-4s">
						<img src="assets/images/downloads/icon6.png" alt="Icon" class="icon-logo" />
						<h3> IfcPatch </h3>
						<p>
							Distribute and run common scripts to modify IFC models.
						</p>
					</div>
					<div class="col-lg-3 col-sm-6  wow fadeInUp delay-0-4s">
						<img src="assets/images/downloads/icon7.png" alt="Icon" class="icon-logo" />
						<h3> IfcCityJSON </h3>
						<p>
							Convert to and from IFC and CityJSON.
						</p>
					</div>
					<div class="col-lg-3 col-sm-6  wow fadeInUp delay-0-4s">
						<img src="assets/images/downloads/icon8.png" alt="Icon" class="icon-logo" />
						<h3> IfcFM </h3>
						<p>
							Audit and convert IFC facility management data using the COBie template and FMH-EM specifications.
						</p>
					</div>
					<div class="col-lg-3 col-sm-6  wow fadeInUp delay-0-4s">
						<img src="assets/images/downloads/icon9.png" alt="Icon" class="icon-logo" />
						<h3> Ifc4D </h3>
						<p>
							Convert IFC construction sequencing WBS and task data from Oracle P6, Microsoft Project, and Asta PowerProject.
						</p>
					</div>
					<div class="col-lg-3 col-sm-6  wow fadeInUp delay-0-4s">
						<img src="assets/images/downloads/icon10.png" alt="Icon" class="icon-logo" />
						<h3> Ifc5D </h3>
						<p>
							Quantity take-off and integration with cost estimation tools.
						</p>
					</div>
					<div class="col-lg-3 col-sm-6  wow fadeInUp delay-0-4s">
						<img src="assets/images/downloads/icon11.png" alt="Icon" class="icon-logo" />
						<h3> BCF </h3>
						<p>
							Library to read and write BCF-XML data and interact with BCF-API enabled CDEs.
						</p>
					</div>
					<div class="col-lg-3 col-sm-6  wow fadeInUp delay-0-4s">
						<img src="assets/images/downloads/icon12.png" alt="Icon" class="icon-logo" />
						<h3> bSDD </h3>
						<p>
							Library to interact with the buildingSMART Data Dictionary API.
						</p>
					</div>
				</div>
			</div>
		</section>
{% include "footer.html" %}
