{% include "header.html" %}
		<!--=== Start Banner Section ===-->
		<section class="banner-section bg-color-fff1f2">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-12">
						<div class="side-border side-border-inner wow fadeInUp delay-0-4s"></div>
						<div class="banner-content">
							<h1 class="wow fadeInUp delay-0-2s">Download v0.8.4</h1>
							<h2 class="up-title title wow fadeInUp delay-0-4s"> Alpha software good luck have fun </h2>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--=== End Banner Section ===-->

		<section class="bg-color-2e3436 product-section-1 margin-bottom-50 ">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<img src="assets/images/download/blender-icon.png" alt="Partner" class="blender-icon"  wow fadeInUp delay-0-4s />
						<img src="assets/images/download/section-layer-design.png" alt="section-layer-design" class="section-layer-design"  wow fadeInUp delay-0-4s />
						<div class="row donwload-icon-list">
                            <div class="col-lg-12 col-md-12">
								<img src="assets/images/download/icon-1.png" class="margin-bottom-20" style="width: 24px;margin-right: 20px;"  />
								<img src="assets/images/download/icon-2.png" class="margin-bottom-20" style="width: 24px;margin-right: 20px;"  />
								<img src="assets/images/download/icon-3.png" class="margin-bottom-20" style="width: 24px;"  />
							</div>
						</div>
					</div>
			    </div>
				<div class="row">
                    <div class="banner-btn" style="margin-top: 20px; margin-bottom: 20px;">
                        <a href="https://docs.bonsaibim.org/quickstart/installation.html" class="main-btn wow fadeInUp delay-0-8s">
                            <span class="btn-style">
                                <img src="assets/images/banner/download-icon.png" />Download and Install
                            </span>
                        </a>
                    </div>
			    </div>
			</div>
		</section>

		<div class="container text-center">
				<div class="row">
					<div class="offset-lg-2 col-lg-8 margin-bottom-30 download">
						<h3> Bonsai is made possible by you </h3>
					</div>
				</div>
				<!-- .row -->
				<div class="row">
					<div class="offset-lg-3 col-lg-6 margin-bottom-40">
						<p class="">Bonsai is free software, and always will be.</p>
					</div>
				</div>
				<!-- .row -->

				<div class="row">
					<div class="offset-lg-4 col-lg-4 image2 add-on-section">
						<p class="download-progress-bar">
							<span class="border-1">
								<span class="border-2 width-50"></span>
							</span>
                            <span class="first-text"> <strong class="amount-raised">$</strong> raised of <strong>$5,000</strong> goal per month </span>
						</p>
					</div>
				</div>
<script>

</script>

				<!-- .row -->
			
                <div class="row">
					<div class="offset-lg-3 col-lg-6 margin-bottom-50">
						<p>However, building BIM software is complex. With funding, we can hire a small team of core developers to do more of what we already do. Please consider donating starting at $5 a month. If our software helps your company, please consider making a larger corporate donation! </p>
					</div>
					<div class="offset-lg-3 col-lg-6 banner-content">
						<a href="https://opencollective.com/opensourcebim" class="main-btn wow fadeInUp delay-0-8s">
								<span class="btn-style">
									<img src="assets/images/download/small-icon.png" class="" /> Donate now :)
								</span>
                        </a>
                        <br /><br />
					</div>
				</div>
				<!-- .row -->
		</div>
		       <!-- .container -->
{% include "footer.html" %}
