        <div class="footer-section copy-wrap">
            <div class="container">
                <div>
                    <div class="back-to-top text-center">
                        <i class="icofont-simple-up"></i>
                    </div>
                    <div class="text-center">
                        <img src="assets/images/partner/partner-11.png" alt="Partner" class="" />
                    </div>
                    <div class="row">
                        <div class="col-lg-8">
                            {% if brand == "ifcopenshell" %}
                            <p class="footer-left-text"><a href="https://ifcopenshell.org"><span> IfcOpenShell </span></a> is a free software project by amazing volunteers. You can <a href="https://github.com/ifcopenshell/ifcopenshell/"><span> be one too!  </span></a></p>
                            {% elif brand == "bonsaibim" %}
                            <p class="footer-left-text">
                               Blender is Free Software made by the community of <a href="https://blender.org"><span>Blender.org</span></a>.
                               <br /><br />
                               Bonsai is built with ♥ on the <a href="https://ifcopenshell.org"><span>IfcOpenShell</span></a> project by amazing volunteers.
                               <br /><br />
                               You can <a href="community.html"><span> be one too!  </span></a>
                            </p>
                            {% endif %}
                        </div>
                        <div class="col-lg-4 text-right">
                            <img src="assets/images/footer-logo.png" alt="Footer Logo" class="footer-logo" />
                            <div class="pull-right">
                                <h5><a href="https://ifcopenshell.org">IfcOpenShell</a></h5>
                                <p>
                                    The open source IFC toolkit <br> and geometry engine
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--=== End Footer Section ===-->
        <!--=== JS Link ===-->
        <script src="assets/js/jquery.min.js"></script> 
        <script src="assets/js/owl.carousel.js"></script>
        <script src="assets/js/bootstrap.bundle.min.js"></script>
        <script src="assets/js/mobile-menu.js"></script>
        <script src="assets/js/wow.min.js"></script>
        <script src="assets/js/main.js"></script>
        <!-- jquery end -->
    </body>
</html>
