{% include "header.html" %}
        <!--
        // Preserved for posterity from the original website. This joke never gets old.

        Q: What's with the name? Ifc Opens Hell?
        A: No, you're not reading it correctly. An IfcOpenShell is one of the ways geometry can be described inside an Ifc file. Since the name reflects on the Ifc part, the open source part and the geometry part of the project, we figured we'd pick this as our name. PS: No, we're not called openIfcShell either

        Q: Ok, so how do you make money with this?
        A: We don't. Are you? How about sharing some of the pie or help out with development or testing!
        -->
        <!--=== Start Banner Section ===-->
        <section class="banner-section bg-color-fff1f2">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="side-border wow fadeInUp delay-0-4s"></div>
                        <div class="banner-content">
                            <h1 class="wow fadeInUp delay-0-2s"> IfcOpenShell </h1>
                            <h2 class="up-title wow fadeInUp delay-0-4s"> The open source IFC toolkit <br> and geometry engine </h2>
                            <p class="wow fadeInUp delay-0-6s"> 
                                IfcOpenShell helps you develop digital platforms for the built environment. <br>
                                Read, write, and modify Building Information Models using IFC, <br> 
                                a diverse digital language from design to construction and beyond.
                            </p>
                            <div class="banner-btn">
                                <a href="downloads.html" class="main-btn wow fadeInUp delay-0-8s">
                                    <span class="btn-style">
                                        <img src="assets/images/banner/download-icon.png" /> Download v0.7.0
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeInUp delay-0-4s">
                        <div class="banner-img">
                            <img src="assets/images/banner/banner-img-1.png" alt="Image">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--=== End Banner Section ===-->
        <!--=== Start Services Section ===-->
        <section class="services-section pt-50 pb-10">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-3 col-md-6">
                        <div class="main-services-item wow fadeInUp delay-0-2s color-1">
                            <div class="inner-content">
                                <h3>
                                    A library you can rely on
                                </h3>
                                <span class="divider"></span>
                                <p>
                                    Developed by a community of hundreds of developers and trusted to deliver many AEC technologies that power our industry.
                                </p>
                            </div>
                            <img src="assets/images/icon/icon-1.png" alt="Icon" />
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="main-services-item wow fadeInUp delay-0-2s color-2">
                            <div class="inner-content">
                                <h3>
                                    Any technology stack
                                </h3>
                                <span class="divider"></span>
                                <p>
                                    Build with Windows, Mac, or Linux, in C++ or Python. Deploy headless server tools, or author IFC natively with a rich graphical interface.
                                </p>
                            </div>
                            <img src="assets/images/icon/icon-2.png" alt="Icon" style="width: 70%;" />
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="main-services-item wow fadeInUp delay-0-2s color-3 text-left">
                            <div class="inner-content">
                                <h3>
                                    All schemas and formats
                                </h3>
                                <span class="divider"></span>
                                <p>
                                    Support IFC2X3, IFC4, IFC4.3, or load your own at run-time. Read and write IFC-SPF, IFCJSON, IFCXML, and IFCHDF5.
                                </p>
                            </div>
                            <img src="assets/images/icon/icon-3.png" alt="Icon" class="left-image" />
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="main-services-item wow fadeInUp delay-0-2s color-4">
                            <div class="inner-content">
                                <h3>
                                    Native IFC authoring API
                                </h3>
                                <span class="divider"></span>
                                <p>
                                    High level API for hundreds of tasks. Perform complex authoring like copying objects, cost calculation, or 4D simulation with one line of code.
                                </p>
                            </div>
                            <img src="assets/images/icon/icon-4.png" alt="Icon">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="main-services-item wow fadeInUp delay-0-2s color-1">
                            <div class="inner-content">
                                <h3>
                                    Robust geometry
                                </h3>
                                <span class="divider"></span>
                                <p>
                                    Convert parametric geometry into explicit geometry for any CAD system from booleans to complex sweeps.
                                </p>
                            </div>
                            <img src="assets/images/icon/icon-5.png" alt="Icon">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="main-services-item wow fadeInUp delay-0-2s color-2">
                            <div class="inner-content">
                                <h3>
                                    2D drawings
                                </h3>
                                <span class="divider"></span>
                                <p>
                                    Generate and annotate 2D drawings from 3D geometry with ease. Preserve drawing semantics and link model data to and from drawing symbols.
                                </p>
                            </div>
                            <img src="assets/images/icon/icon-6.png" alt="Icon">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="main-services-item wow fadeInUp delay-0-2s color-3">
                            <div class="inner-content">
                                <h3>
                                    Ecosystem of tools
                                </h3>
                                <span class="divider"></span>
                                <p> 
                                    Clash detection, model comparison, and conversion to over 10 other formats. Integrate with technologies like IDS, BCF, and bSDD, and more.
                                </p>
                            </div>
                            <img src="assets/images/icon/icon-7.png" alt="Icon">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="main-services-item wow fadeInUp delay-0-2s color-4">
                            <div class="inner-content">
                                <h3>
                                    Easy to use
                                </h3>
                                <span class="divider"></span>
                                <p>
                                    Extensive documentation, user guides, academic courses, and a vibrant user community to help you begin your journey.
                                </p>
                            </div>
                            <img src="assets/images/icon/icon-8.png" alt="Icon">
                            <div class="desing-1"><img src="assets/images/home-page/desing1.png" alt="Icon" class=""></div>
                        </div>
                    </div>
                </div>
                <div class="desing-2  wow fadeInUp delay-0-8s"><img src="assets/images/home-page/desing2.png" alt="Icon" class="line-image"></div>
            </div>
        </section>
        <!--=== End Services Section ===-->
        <div class="container started-section choose-section wow fadeInUp" >
            <div class="row">
                <h3> Let's get started </h3> 
            </div>
            <div id="tabs">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="home-page-slider-section">
                        <div class="design-1"></div>
                        <div class="design-2"></div>
                        <div class="tabContent">
                            <div class="owl-carousel owl-theme " >
                                <div class="item" >
<pre>
<span class="orange-color"># Load and edit a wall name</span>
import <span class="green-color">ifcopenshell</span>

model = ifcopenshell.<span class="green-color">open</span>('model.ifc')
walls = model.<span class="green-color">by_type</span>('IfcWall')
walls[0].Name = 'My wall'

model.<span class="green-color">write</span>('updated-model.ifc')
</pre>
                                </div>
                                <div class="item" >
<pre>
<span class="orange-color"># Properties, type, and location of a door</span>
import <span class="green-color">ifcopenshell.util.element</span> as <span class="green-color">util</span>

door = model.<span class="green-color">by_type</span>("IfcDoor")[0]

prop_sets = util.<span class="green-color">get_psets</span>(door)
door_type = util.<span class="green-color">get_type</span>(door)
location = util.<span class="green-color">get_container</span>(door)
</pre>
                                </div>
                                <div class="item" >
<pre>
<span class="orange-color"># Create a wall on the site</span>
from <span class="green-color">ifcopenshell.api</span> import <span class="green-color">run</span>

site = run("<span class="green-color">root.create_entity</span>", model,
    ifc_class="IfcSite")
wall = run("<span class="green-color">root.create_entity</span>", model,
    ifc_class="IfcWall")

run("<span class="green-color">spatial.assign_container</span>", model,
    relating_structure=site, product=wall)
</pre>
                                </div>
                            </div>
                        </div>
                        <div class="tabContent">
                            <div class="owl-carousel owl-theme">
                                <div class="item" >
<pre>
// C++ example 1
</pre>
                                </div>
                                <div class="item" >
<pre>
// C++ example 2
</pre>
                                </div>
                                <div class="item" >
<pre>
// C++ example 3
</pre>
                                </div>
                            </div>
                        </div>
                        <div class="tabContent">
                            <div class="owl-carousel owl-theme">
                                <div class="item" >
<pre>
<span class="orange-color"># Convert a model to different formats</span>
$ <span class="green-color">IfcConvert</span> model.ifc model.glb

<span class="orange-color"># Multicore processing</span>
$ <span class="green-color">IfcConvert</span> model.ifc model.dae

<span class="orange-color"># Filters and operations</span>
$ <span class="green-color">IfcConvert</span> --model-offset "10000;10000;0" \
    model.ifc model.dae
</pre>
                                </div>
                                <div class="item" >
<pre>
<span class="orange-color"># Check BIM requirements</span>
$ <span class="green-color">ifctester</span> specs.ids model.ifc

<span class="orange-color"># Produce reports</span>
$ <span class="green-color">ifctester</span> -r Html -o out.html test.ids bldg.ifc
</pre>
                                </div>
                                <div class="item" >
<pre>
<span class="orange-color"># Compare models</span>
$ <span class="green-color">ifcdiff</span> old.ifc new.ifc

<span class="orange-color"># Schedule objects in a spreadsheet</span>
$ <span class="green-color">ifccsv</span> -i input.ifc -c out.csv -q ".IfcWall"

<span class="orange-color"># Clash detection</span>
$ <span class="green-color">ifcclash</span> -o results.json clashsets.json
</pre>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                      <div class="tcenter wow fadeInUp delay-0-2s ">
                        <h4> Choose your hammer </h4>
                            <ul class="choose-list">
                                <li>
                                    <a class="tab whiteborder">
                                        I know Python
                                    </a>
                                </li>
                                <li>
                                     <a class="tab">
                                        I know C++
                                    </a>
                                </li>
                                <li>
                                    <a class="tab">
                                        I'm a CLI whiz
                                    </a>
                                </li>
                            </ul>
                            <p>
                                Learn more in our <a href="https://ios-docs.blenderbim.org"><span>documentation</span>.</a>
                            </p>
                    </div>
                </div>
            </div>
            </div> 
            </div>
        </div>
        <!-- Carousel Section -->
        <div class="container started-section wow fadeInUp logo-section" >
            <div class="row">
                <h3 class="wow fadeInUp delay-0-2s"> Made possible by you </h3> 
            </div>
            <div class="row">
                <div class="offset-sm-1 col-sm-10 text-center">
                    <div class="partners-logo tier1">
                        {% for donor in tier1 %}
                        <div>
                            <a href="{{ donor.url }}">
                            <img src="{{ donor.avatar }}" alt="Partner" class="wow fadeInUp delay-0-2s" />
                            <br />
                            {{ donor.name }}
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="partners-logo tier2">
                        {% for donor in tier2 %}
                        <div>
                            <a href="{{ donor.url }}">
                            <img src="{{ donor.avatar }}" alt="Partner" class="wow fadeInUp delay-0-2s" />
                            <br />
                            {{ donor.name }}
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="partners-logo tier3">
                        {% for donor in tier3 %}
                        <a href="{{ donor.url }}" style="margin-right: 10px;">
                            <img src="{{ donor.avatar }}" title="{{ donor.name }}" class="wow fadeInUp delay-0-2s" />
                            
                        </a>
                        {% endfor %}
                    </div>
                </div>
                <div class="offset-sm-2 col-sm-8 text-center  wow fadeInUp delay-0-2s">
                    <br><br>
                    <p>
                        We've been building IFC technology for over a decade and want to share everything we know for a better built environment.
                    </p>
                    <p>
                        Free for all of us, forever.
                    </p>
                </div>
            </div>
        </div>
        <!--=== Start Footer Section ===--> 
{% include "logos.html" %}
{% include "footer.html" %}
