		<div class="container started-section blender-logo-section" >
			<div class="row">
				<div class="col-sm-12 text-center">
					<ul class="blender-logos">
						<li>
							<img src="assets/images/blender/logo1.jpg" alt="Partner" class="wow fadeInUp delay-0-8s" />
						</li>
						<li>
							<img src="assets/images/blender/logo2.jpg" alt="Partner" class="wow fadeInUp delay-0-8s"  />
						</li>
						<li>
							<img src="assets/images/blender/logo3.jpg" alt="Partner" class="wow fadeInUp delay-0-8s"  />
						</li>
						<li>
							<img src="assets/images/blender/logo4.jpg" alt="Partner" class="wow fadeInUp delay-0-8s"  />
						</li>
						<li>
							<img src="assets/images/partner/cesium_grant_56353427842359.png" alt="Cesium ecosystem grant" style="width:128px;height:128px" />
						</li>

					</ul>
					<div class="side-border wow fadeInUp delay-0-4s"></div>
				</div>
			</div>
		</div>

