{% include "header.html" %}
        <!--=== Start Banner Section ===-->
        <section class="bg-color-fff1f2">
            <div class="container community-header">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="banner-section">
                            <div class="side-border side-border-inner wow fadeInUp delay-0-4s"></div>
                            <div class="banner-content">
                                <h1 class="wow fadeInUp delay-0-2s"> Upload </h1>
                                <h2 class="up-title wow fadeInUp delay-0-4s"> Share files for private bugreporting </h2>
                            </div>
                        </div>
                        <p> 
                            If you have a private file to share in regards to an issue, you can upload it via this <a href="https://forms.gle/hmeWGHCSydeuB9nJ6">Google Forms link</a>. Your private file will be accessible only to core IfcOpenShell developers, and will be deleted after the issue is resolved.
                            <script type="text/javascript">window.location.replace("https://forms.gle/hmeWGHCSydeuB9nJ6");</script>
                        </p>
                    </div>
            </div>
        </section>
        <!--=== End Banner Section ===-->
{% include "footer.html" %}
